@media screen and (min-width: 1px) and (max-width: 480px){
  #columns[data-columns]::before {
    content: '1 .col-xs-12';
  }
}

@media screen and (min-width: 481px) and (max-width: 767px){
  #columns[data-columns]::before {
    content: '2 .col-xs-6';
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #columns[data-columns]::before {
    content: '3 .col-xs-4';
  }
}
@media screen and (min-width:992px) and (max-width: 1199px){
  #columns[data-columns]::before {
    content: '4 .col-xs-3';
  }
}
@media screen and (min-width:1200px) and (max-width: 2399px){
  #columns[data-columns]::before {
    content: '6 .col-xs-2';
  }
}
@media screen and (min-width:2400px) and (max-width: 9999px){
  #columns[data-columns]::before {
    content: '12 .col-xs-1';
  }
}
